keystone-url = https://auth.iotplatform.telefonica.com:15001
orion-url = https://cb.iotplatform.telefonica.com:10027
orion-username = alcoi_int_admin
orion-password = XXXXXX
orion-service = sc_alcoi_int
orion-subservice = /aparcamiento